---
title: Bazinga
permalink: /zh-CN/
layout: default
root: true
---

<p>
  软件设计师、工程师，制作简洁实用的网站。<a href="https://infrequently.org/stickers/">Anti JavaScript JavaScript Club</a> 的成员之一。
</p>
<p>
  <span class="time" data-timestamp-text="当前时间：{time}"></span>
</p>
<p>
  截至 {{ site.recent_date | date: "%m/%d" }} 专注于各种项目开发。热爱编程、网页开发，致力于创造无障碍的数字体验。
</p>

<nav aria-label="额外内容">
  <a href="{% link _pages/qna.md %}">问与答</a><hr class="inline-hr">
  <a href="{% link _pages/stuff.md %}">实体物品</a><hr class="inline-hr">
  <a href="{% link _pages/blogroll.md %}">博客列表</a><hr class="inline-hr">
  <a href="{% link _pages/issues.html %}">Issues</a><hr class="inline-hr">
  <a href="{% link _pages/banners.md %}">88&times;31</a>
</nav>
<nav aria-label="社交链接">
  <a href="https://github.com/bazinga" rel="me">GitHub</a>
</nav>

<div class="lang">
  <a href="/zh-CN/" srclang="zh-CN" aria-current="true">简体中文</a><a href="/" srclang="en-US">English</a>
</div>

<hr class="hr">

<h2 class="normal-heading">动态</h2> <a href="/stories.xml" class="styled-link">RSS</a><a href="https://github.com/dddddddddzzzz/OpenStories" class="styled-link">这是什么？</a>

<div class="stories">
  {% include stories.html lang="zh-CN" %}
</div>

<hr class="hr">

<h2 class="normal-heading">照片</h2><a href="/photos" class="styled-link">全部照片</a> <a href="/photos.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.photos | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/photos#P{{ photo.id }}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<h2 class="normal-heading">胶片照片</h2><a href="/film" class="styled-link">全部胶片照片</a> <a href="/film.xml" class="styled-link">RSS</a>
<div class="photos">
{% assign photos = site.data.film | reverse | slice: 0, 10 %}
{% for photo in photos %}
  {% capture image_url %}{% for url in photo.variants %}{% if url contains "/thumbnail" %}{{ url }}{% endif %}{% endfor %}{% endcapture %}
  <a href="/film#P{{ photo.id}}" class="image-link">
    <img src="{{ image_url }}" height="200" alt="{{ photo.meta.alt }}" loading="lazy" style="aspect-ratio: {{ photo.meta.ratio }};">
  </a>
{% endfor %}
</div>

<hr class="hr">

{% assign note = site.notes | last %}
<h2 class="normal-heading">随笔</h2><a href="/notes" class="styled-link">近期随笔</a> <a href="/notes.xml" class="styled-link">RSS</a>
<div class="note">
  <time class="general-actions monospace" datetime="{{ note.date | date_to_xmlschema }}">
    {{ note.date | date: "%Y/%m/%d" }}
  </time>
  <div class="note-content" lang="{{ note.lang }}">{{ note.content | markdownify }}</div>
  <div class="note-tags">{% for tag in note.tags %}<span class="note-tag" data-tag="{{ tag }}">{{ tag }}</span>{% endfor %}</div>
</div>

<hr class="hr">

<h2 class="normal-heading">文章</h2><a href="/feed.xml" class="styled-link">RSS</a>
<ul aria-label="posts" class="terminal">
{% assign posts = site.posts | where: "feature", 1 %}
{% for post in posts %}
  <li class="line"><a href="{{ post.url }}">{{ post.title }}</a><br>
    <time class="monospace" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y/%m/%d" }}</time></li>
{% endfor %}

</ul>
